# Folders
Inputs/AddressPoints.gdb/
Inputs/Utah_Salt_Lake_County_Parcels_LIR.gdb/
Outputs/saltlake.gdb/
Outputs/saltlake2.gdb/
Outputs/saltlake3.gdb/
Outputs/saltlake4.gdb/
.ipynb_checkpoints/
.backups/
